<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Editar Salón</title>
  <link rel="stylesheet" href="/Public/Css/edit_e.css">
  <link rel="shortcut icon" href="/Public/img/Icono_l.ico" type="image/x-icon">
</head>
<body>
  <div class="form_add">
    <form action="/admin/edit-room/<%= salon.id %>" method="POST" enctype="multipart/form-data" class="add_Room">
      <div class="container">
      <h1 class="title_add">Editar Salón</h1>
      <label for="name" class="label_add">Nombre del salón</label>
      <input type="text" id="name" name="name" value="<%= salon.name %>" required class="input_add">
      <label for="address" class="label_add">Dirección:</label>
      <input type="text" id="address" name="address" value="<%= salon.address %>" required class="input_add">
      <label for="price" class="label_add">Precio del salón:</label>
      <input type="number" id="price" name="price" value="<%= salon.price %>" required class="input_add">
      <label for="image" class="label_add">Imagen del salón:</label>
      <input type="file" id="image" name="image" class="input_add_a">
      <div class="imagen">
        <img src="/uploads/<%= salon.image %>" alt="Imagen del salón" class="img">
      </div>
      <label for="capacidad" class="label_add">Capacidad del salón (número de personas):</label>
      <input type="number" id="capacidad" name="capacidad" class="input_add" <%= salon.capacidad ? 'checked' : '' %>>
      </div>
      <div class="content">
      <label for="cocina" class="label_Room">Cocina<input type="checkbox" id="cocina" name="cocina" class="input_Room" <%= salon.cocina ? 'checked' : '' %>></label>
      <label for="wifi" class="label_Room">WiFi<input type="checkbox" id="wifi" name="wifi" class="input_Room" <%= salon.wifi ? 'checked' : '' %>></label>
      <label for="estacionamiento" class="label_Room">Estacionamiento<input type="checkbox" id="estacionamiento" name="estacionamiento" class="input_Room" <%= salon.estacionamiento ? 'checked' : '' %>></label>
      <label for="guardaObjetos" class="label_Room">Guarda Objetos<input type="checkbox" id="guardaObjetos" name="guardaObjetos" class="input_Room" <%= salon.guardaObjetos ? 'checked' : '' %>></label>
      <label for="jardin" class="label_Room">Jardín<input type="checkbox" id="jardin" name="jardin" class="input_Room" <%= salon.jardin ? 'checked' : '' %>></label>
      <label for="balcon" class="label_Room">Balcón<input type="checkbox" id="balcon" name="balcon" class="input_Room" <%= salon.balcon ? 'checked' : '' %>></label>
      <label for="decoracion" class="label_Room">Decoración<input type="checkbox" id="decoracion" name="decoracion" class="input_Room" <%= salon.decoracion ? 'checked' : '' %>></label>
      <label for="sonido" class="label_Room">Sonido<input type="checkbox" id="sonido" name="sonido" class="input_Room" <%= salon.sonido ? 'checked' : '' %>></label>
      <label for="banos" class="label_Room">Baños<input type="checkbox" id="banos" name="banos" class="input_Room" <%= salon.banos ? 'checked' : '' %>></label>
      <label for="movilidad" class="label_Room">Movilidad<input type="checkbox" id="movilidad" name="movilidad" class="input_Room" <%= salon.movilidad ? 'checked' : '' %>></label>
      </div>
      <button type="submit" class="btn_Room">Actualizar Salón</button>
    </form>
    <button onclick="window.location.href='/admin/halls'" class="btn_Room">Salones Disponibles</button>
  </div>
</body>
</html>