  <!DOCTYPE html>
  <html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles del Salón</title>
  </head>
  <body>
    <h1>Detalles del Salón</h1>
    <% if (salon) { %>
      <div class="container">
        <div class="card">
          <div class="card2">
            <div class="content">
              <div class="imagen">
                <img src="/uploads/<%= salon.image %>" alt="Imagen del salón">
              </div>
              <div class="info">
                <p class="text"><%= salon.address %></p>
                <p class="text"><%= salon.name %></p>
                <p class="text">$<%= salon.price %> COP NOCHE</p>
                <p class="text">CAPACIDAD: <%= salon.capacidad %> PERSONAS</p>
                
                <form action="/user/payments" method="POST">
                  <input type="hidden" name="id" value="<%= salon.id %>">
                  <input type="hidden" name="name" value="<%= salon.name %>">
                  <input type="hidden" name="capacidad" value="<%= salon.capacidad %>">
                  <input type="hidden" name="price" value="<%= salon.price %>">
                  <input type="hidden" name="image" value="<%= salon.image %>">
                  <button type="submit">Alquilar Este Salón</button>
              </form>
              
  
              </div>
            </div>
            <h3>Características Disponibles:</h3>
            <ul>
              <% if (salon.cocina) { %>
                <li>Cocina</li>
              <% } %>
              <% if (salon.wifi) { %>
                <li>WiFi</li>
              <% } %>
              <% if (salon.estacionamiento) { %>
                <li>Estacionamiento</li>
              <% } %>
              <% if (salon.guardaObjetos) { %>
                <li>Guarda Objetos</li>
              <% } %>
              <% if (salon.jardin) { %>
                <li>Jardín</li>
              <% } %>
              <% if (salon.balcon) { %>
                <li>Balcón</li>
              <% } %>
              <% if (salon.decoracion) { %>
                <li>Decoración</li>
              <% } %>
              <% if (salon.sonido) { %>
                <li>Sistema de Sonido</li>
              <% } %>
              <% if (salon.banos) { %>
                <li>Baños</li>
              <% } %>
              <% if (salon.movilidad) { %>
                <li>Accesibilidad para Movilidad Reducida</li>
              <% } %>
            </ul>
          </div>
        </div>
      </div>
    <% } else { %>
      <p>Salón no encontrado.</p>
    <% } %>
    <button onclick="location.href='/admin/hallsad'" class="btn">Volver a la lista</button>
  </body>
  