<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Información Salón</title>
    <link rel="stylesheet" href="/Public/Css/loading_screen.css">
    <link rel="stylesheet" href="/Public/Css/footer.css">
    <link rel="stylesheet" href="/Public/Css/sub_halls.css">
    <link rel="stylesheet" href="/Public/Css/header.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
    <link rel="shortcut icon" href="/Public/img/Icono_l.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Magra:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+1+Code:wght@100..700&display=swap" rel="stylesheet">
</head>
<body>
    <div id="loading-screen">
        <div class="spinner"></div>
    </div>
    <header id="menu">
        <nav class="nav">
          <div class="menu-toggle" id="menu-toggle">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
          </div>
            <ul class="list" id="enlaces">
                <li class="item">
                  <a href="/index" class="link">EVENTIFY</a>
                </li>
                <li class="item">
                    <a href="/index" class="link">INICIO</a>
                </li>
                <li class="item">
                    <a href="/user/halls" class="link">SALONES</a>
                </li>
                <li class="item">
                    <a href="/user/reservation" class="link">RESERVAS</a>
                </li>
                <li class="item">
                    <a href="/Login" class="link">INICIAR SESIÓN</a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="container">
      <div class="content">
        <% if (!salon) { %>
          <p class="text_sbn">Salón no encontrado.</p>
        <% } else { %>
          <div class="imagen">
            <img src="/uploads/<%= salon.image %>" alt="" class="img">
          </div>
          <div class="info">
              <p class="text"><%= salon.address %></p>
              <p class="text"><%= salon.name %></p>
              <p class="text">$<%= salon.price %> COP NOCHE</p>
              <p class="text">CAPACIDAD: <%= salon.capacidad %> PERSONAS</p>
          </div>
          <div class="fecha">
            <form id="paymentForm" action="/user/payments" method="POST" class="form_h">
              <input type="hidden" name="id" value="<%= salon.id %>">
              <input type="hidden" name="name" value="<%= salon.name %>">
              <input type="hidden" name="capacidad" value="<%= salon.capacidad %>">
              <input type="hidden" name="price" value="<%= salon.price %>">
              <input type="hidden" name="image" value="<%= salon.image %>">
              <label for="fecha" class="label_h">Fecha del Evento</label>
              <input type="date" id="fecha" name="fecha" required class="input_h">
              <label for="horaInicio" class="label_h">Hora de Inicio del Evento</label>
              <select id="horaInicio" name="horaInicio" required class="input_h">
                <% 
                  let horas = ['10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00', '20:00', '21:00', '22:00', '23:00', '00:00', '01:00', '02:00', '03:00'];
                  horas.forEach(function(hora) { 
                %>
                  <option value="<%= hora %>"><%= hora %></option>
                <% }); %>
              </select>
              <label for="horaFin" class="label_h">Hora Fin del Evento</label>
              <select id="horaFin" name="horaFin" required class="input_h">
                <% horas.forEach(function(hora) { %>
                  <option value="<%= hora %>"><%= hora %></option>
                <% }); %>
              </select>
              <div id="error-message" style="color: red; display: none;">
                La reserva debe durar al menos 4 horas.
              </div>
              <button type="submit" class="btn_sh">Alquilar Salón</button>
            </form>
          </div>
        <% } %>
      </div>
    </div>
    <div class="container_text">
      <h3 class="title_text_sub">Lo que ofrece este Salón</h3>
        <div class="content-text">
            <div class="text_sub">
                <% if (salon.cocina) { %>
                    <p class="text_alb"><img src="/Public/img/cocinero.png" alt="" class="img_text_sub">Cocina equipada para catering de eventos</p>
                <% } %>
                <% if (salon.wifi) { %>
                    <p class="text_alb"><img src="/Public/img/Wi-Fi.png" alt="" class="img_text_sub">Wifi de 26 Mbps para todas las necesidades tecnológicas</p>
                <% } %>
                <% if (salon.estacionamiento) { %>
                    <p class="text_alb"><img src="/Public/img/Estacionamiento.png" alt="" class="img_text_sub">Estacionamiento amplio y gratuito</p>
                <% } %>
                <% if (salon.guardaObjetos) { %>
                    <p class="text_alb"><img src="/Public/img/Guardar.png" alt="" class="img_text_sub">Guarda de objetos para organizadores antes y después del evento</p>
                <% } %>
                <% if (salon.jardin) { %>
                    <p class="text_alb"><img src="/Public/img/Jardin.png" alt="" class="img_text_sub">Jardín parcialmente cercado, ideal para fotos y actividades al aire libre</p>
                <% } %>
            </div>
            <div class="text_sub">
              <% if (salon.balcon) { %>
                    <p class="text_alb"><img src="/Public/img/Balcon.png" alt="" class="img_text_sub">Balcón privado con vistas relajantes</p>
                <% } %>
                <% if (salon.decoracion) { %>
                    <p class="text_alb"><img src="/Public/img/Adorno.png" alt="" class="img_text_sub">Decoración moderna y personalizable para reflejar el estilo del evento</p>
                <% } %>
                <% if (salon.sonido) { %>
                    <p class="text_alb"><img src="/Public/img/Sonido.png" alt="" class="img_text_sub">Sistema de sonido y tecnología audiovisual moderna</p>
                <% } %>
                <% if (salon.banos) { %>
                    <p class="text_alb"><img src="/Public/img/Baño.png" alt="" class="img_text_sub">Baños amplios y bien mantenidos para la comodidad de los invitados</p>
                <% } %>
                <% if (salon.movilidad) { %>
                    <p class="text_alb"><img src="/Public/img/Discapacitado.png" alt="" class="img_text_sub">Acceso para personas con movilidad reducida</p>
                <% } %>
            </div>
        </div>
    </div>
    <footer>
        <div class="content-f">
            <img src="/Public/img/Imagen_f.jpeg" alt="" class="img-l">
            <ul class="ul-f">
                <li class="li-f"><a href="/index" class="link-f">Inicio</a></li>
                <li class="li-f"><a href="/user/halls" class="link-f">Eventos</a></li>
                <li class="li-f"><a href="#" class="link-f">Conócenos</a></li>
                <li class="li-f"><a href="#" class="link-f">Política de Privacidad</a></li>
                <li class="li-f"><a href="#" class="link-f">Términos y Condiciones</a></li>
            </ul>
            <ul class="ul-f">
                <li class="li-f-h"><h3 class="text-f">Contáctanos</h3></li>
                <li class="li-f"><p class="text-fc"><img src="/Public/img/telefono.png" alt="" class="img-i">Teléfono: +57 3012342123</p></li>
                <li class="li-f"><p class="text-fc"><img src="/Public/img/correo.png" alt="" class="img-i">Correo: EventifyASP@gmail.com</p></li>
                <li class="li-f"><p class="text-fc"><img src="/Public/img/direccion.png" alt="" class="img-i">Dirección: Calle xyz, Medellín - Colombia</p></li>
                <li class="li-f"><a href="#" class="link-f">Envíanos un Mensaje</a></li>
            </ul>
            <ul class="ul-f">
                <li class="li-f-h"><h3 class="text-f">Síguenos</h3></li>
                <li class="li-f"><a href="#" class="link-f"><img src="/Public/img/Facebook.png" alt="" class="img-i">Facebook</a></li>
                <li class="li-f"><a href="#" class="link-f"><img src="/Public/img/WhatsApp.png" alt="" class="img-i">WhatsApp</a></li>
                <li class="li-f"><a href="#" class="link-f"><img src="/Public/img/Instagram.png" alt="" class="img-i">Instagram</a></li>
                <li class="li-f"><a href="#" class="link-f"><img src="/Public/img/TikTok.png" alt="" class="img-i">Tik Tok</a></li>
                <li class="li-f"><a href="#" class="link-f"><img src="/Public/img/X.png" alt="" class="img-i">X</a></li>
            </ul>
        </div>
        <div class="der">
            <p class="text-fd">Copyright © 2024 Eventify Colombia - Todos los derechos reservados.</p>
        </div>
    </footer>
</body>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
<script src="/Public/Js/loading_screen.js"></script>
<script src="/Public/Js/header.js"></script>
<script src="/Public/Js/dispo.js"></script>
</html>